<div class="booyah-box col-10 offset-1">
  <br />
  <h4> Welcome, <%= current_user.email %></h4>
  <br />
  <br />
  <h1>Quizzes</h1>
  <hr />
  <br />
  <br />
  <h1>Still Need To Test</h1>
      <ul>
      <% @partners.each do |partner| %>
        <li><b><%= partner.first_name%> <%= partner.last_name %><b>  <%= link_to 'Remove', partner_path(partner), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn-sm btn-danger' %></li>
      <% end %>
      </ul>
  <hr />
  <br />
  <br />
    <h3>Passed - 100%</h3>
    <br />
    <h3>Passed - 80% Or Better</h3>
    <br />
</div>